ul,
ol {
  list-style-type: none;
}

section {
  padding: 50px 0 50px 0;
}

.logo {
  width: 48px;
}

.lang-flag {
  width: 18px;
}

/* home section */
.carousel-inner {
  position: relative;
}

.carousel-inner .home-text{
  position: absolute;
  left: 5%;
  top: 45%;
  z-index: 10;
  color: white;
  font-weight: 500;
}

.home-text h2,
h3 {
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  max-width: 100%;
  object-position: center center;
  position: relative;
}

.carousel-item::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.sec-title {
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 0, 0, 0.868);
  width: fit-content;
}
/* category section */
.cat-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  z-index: 10;
}

/* branches section */
.card {
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body img {
  margin: auto;
  display: block;
  border-radius: 4px;
  width: 5.75rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card-body a {
  text-decoration: none;
}

#benfits .card {
  border: none;
}

.icon-holder {
  margin: auto;
  background-color: #e3e4e6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(37, 32, 32);
}

#contact .icon-holder {
  width: 70px;
  height: 70px;
}

.contact-text h4 {
  font-size: 1.125rem;
}

/* contact section */
textarea {
  resize: none;
}

.whats {
  position: fixed;
  left: 3%;
  bottom: 5%;
}

a:hover .fa-phone {
  animation: ring 0.2s infinite;
}

a:hover .fa-location-dot {
  animation: locate 0.5s infinite;
}

@keyframes locate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
